:root{
    --plum:#dda0dd;
    --black:#252a34;
    --blue:##08d9d6;
    --white:#eaeaea;
    --title:35px;
    --text:19px;
 }
 
 *{
     margin:0;
     padding: 0;
     box-sizing: border-box;
 }
 body{
     background: #ffff;
     overflow-x: hidden;
     font-family: 'Raleway', sans-serif;
 }
 .go-top{
     position: fixed;
     bottom: 100px;
     right: -100%;
     width: 50px;
     height: 50px;
     background: #fff;
     border:2px solid var(--plum);
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     z-index: 1000;
     transition: 0.5s;
 }
 .go-top:hover{
     background: var(--plum);
     color:#fff;
     border: 2px solid var(--white);
 }
 .go-top:hover span{color:var(--white);}
 
 .go-top > span{
    font-size: 30px;
    color: var(--black);
 }
 
 
 /** Skew **/
 .skew-abajo{
     position: absolute;
     bottom: 0;
     left: 0;
     border-width: 0 0 10vh 100vw;
     border-style: solid;
     border-color: transparent transparent #fff transparent;
 }
 .skew-arriba{
    position: absolute;
    top: 0;
    left: 0;
    border-width: 10vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    z-index: 10;
}

  /** Navegation Menu **/
  #header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box{margin-left: 20px;}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: var(--title);
    font-weight: 400;
    color:var(--black);
}
.menu .list-container{margin-right: 20px;}
.menu .list-container ul{display: flex;}
.menu .list-container ul li{list-style: none;}
.menu .list-container ul li a{
    text-decoration: none;
    margin: 0px 10px;
    padding:8px;
    color: var(--black);
    border-radius: 24px;
    transition: 0.3s;
    font-size: 16px;
}
.menu .list-container ul li a.active{
    background: var(--plum);
    color:#fff;
}
.menu .list-container ul li a:hover{
    background: var(--plum);
    color:#fff;
}

.btn-menu > .fa-bars{
    display: none;
}

@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
        display: block;
        position:absolute;
        right: 30px;
        top: 20px;
        font-size: 28px;
        color: var(--black);
        transition: 0.5s;
        cursor: pointer;
    }
    .btn-menu > .fa-times{color: var(--plum);}
    .btn-menu > .fa-bars:hover{color:var(--plum);}
    .menu .logo-box{margin-left: 30px;}
    .menu .list-container{
        position: fixed;
        top:60px;
        left:-100%;
        background:#fff;
        width: 100%;
        height: calc(100vh - 60px);
    }
    .menu .list-container .lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top:4px solid var(--plum);
    }
    .menu .list-container ul li{
        width: 90%;
        border-bottom: 2px solid var(--black);
        display: flex;
        justify-content: center;
    }
    .menu .list-container ul li a{
        font-size: 20px;
        text-align: center;
        padding:12px 0px;
    }
    .menu .list-container ul li a.active{
        background: none;
        color:var(--plum);
    }
    .menu .list-container ul li a:hover{
        background: none;
        color:var(--plum);
    }
}

/** Navegation Menu **/

/** IMG Header **/
.img-header{
   position: relative;
   width: 100%;
   height: 100vh;
   background:url(img/header.jpg);
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}
.img-header .koreans-novels{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.6);

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.img-header .koreans-novels h1{
   font-size: 50px;
   color:#fff;
   font-weight: 200;
}
.img-header .koreans-novels hr{
   width: 400px;
   height: 2px;
   background: #fff;
   border: none;
   margin-top: 5px;
}
.img-header .koreans-novels p{
   font-size: 20px;
   color: #fff;
   margin-top: 20px;
}
.img-header .koreans-novels > button{
   width: 170px;
   height: 40px;
   background: var(--plum);
   border-radius: 24px;
   border:none;
   outline: none;
   font-size: 22px;
   color: #fff;
   text-align: center;
   margin-top: 20px;
   cursor: pointer;
   transition: 0.5s;
}
.img-header .koreans-novels > button:hover{
   background:var(--plum);
}

@media only screen and (max-width:773px ){
   .img-header .about-site h1{font-size: 40px;}
   .img-header .about-site > button{width: 130px; font-size: 20px;}
}
@media only screen and (max-width:590px){
   .img-header .about-site h1{font-size: 30px;}
   .img-header .about-site hr{width: 100px;}
   .img-header .about-site p{font-size: 17px;}
   .img-header .about-site > button{width: 100px; font-size: 17px;}
}

/** Novelas **/
.Novels {
    width: 100%;
    padding: 50px 0px;
    background: #fff;
}
.Novels h2 {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    font-size: 50px;
    color: #9e579d;
    font-weight: 200 ;
}
.novels-cards {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.novels-cards .card {
    position: relative;
    width: 300px;
    height: 300px;
    background: #dda0dd;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.novels-cards .card .card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fdf5e6;
    border-radius: 10px;
    padding: 10px;
}
.novels-cards .card .card-content h4{
    color: #cd853f;
    margin: 20px 0px;
    font-size: 17px;
}
.novels-cards .card .card-content p {
    color: #cd853f;
    line-height: 30px;
    font-size: 13px;
}
.novels-cards .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 1s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0% 50%);
}
.novels-cards .card:hover img {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);
}


/** Footer **/
.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(img/img3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.footer .deg-footer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.footer .ejeZfooter{
    position: relative;
    width: 100%;
    height: 100%;
}
.footer .footer-content{
    padding-top: 100px;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}
.footer .footer-content .footer-title{
    width: 50%;
    margin: auto;
    border:2px solid #fff;
    padding:15px;
}
.footer .footer-content .footer-title h2{
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}
.footer .footer-content .footer-title hr{
    background: #fff;
    height: 2px;
    width: 80%;
    margin:auto;
}
.footer .formulario-content{
    width: 60%;
    margin: 50px auto;
    background: #fff;
    padding:30px;
    border-radius: 50px;
    border: 1.5px solid var(--plum);
}
.footer .formulario-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .formulario-content #formulario label{
    font-size: 20px;
    text-align: center;
    color: var(--black);
    margin: 30px 0px 10px 0px;
}
.footer .formulario-content #formulario input{
    width: 90%;
    height: 40px;
    margin:auto;
    border-radius: 24px;
    outline: none;
    border:1.5px solid var(--plum);
    text-align: center;
    font-size: 18px;
    color: var(--black);
}
.footer .formulario-content #formulario textarea{
    width: 90%;
    height: 200px;
    margin:auto;
    padding: 20px;
    border-radius: 24px;
    outline: none;
    border:1.5px solid var(--plum);
    font-size: 15px;
    color: var(--black);
}
.footer .formulario-content #formulario .send{
    margin: 30px;
    display: flex;
    justify-content: center;
}
.footer .formulario-content #formulario button{
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: var(--plum);
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.footer .formulario-content #formulario button:hover{
    background: var(--blue);
}
.footer .formulario-content #formulario .mensaje-form{
    width: 100%;
    margin:auto;
    padding:20px;
}
.footer .formulario-content #formulario .mensaje-form p{
    font-size:19px;
    color: var(--black);
    line-height: 35px;
}
.footer .footer-text{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background:rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #fff;
}
.footer .footer-text p{
    font-size: 20px;
    text-align: center;
    color: #fff;
}

@media only screen and (max-width:900px){
    .footer .formulario-content{width: 85%; padding:20px;}
    .footer .formulario-content #formulario input{width: 100%;}
    .footer .formulario-content #formulario textarea{width: 100%;}
}
@media only screen and (max-width:590px){
    .footer .formulario-content{width: 95%; padding:20px;}
    .footer .formulario-content #formulario label{font-size: 17px;}
    .footer .formulario-content #formulario input{width: 100%; font-size: 17px;}
    .footer .formulario-content #formulario textarea{width: 100%;}
    .footer .formulario-content #formulario .mensaje-form p{font-size: 17px;}
    .footer .footer-text{width: 100%; padding: 0px 30px;}
    .footer .footer-text p{font-size: 17px;}
}
